.navbar {
    background-color: #4761be;
    color: white;
}

.btn {
    background-color: #c02177;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    background-color: #9e95f8;
    color: white;
}

.register-toggle .btn {
    margin-right: 10px;
}

.navbar-brand {
    font-size: 24px;
}

.nav-item {
    margin: 0 5px;
}

.nav-item a {
    padding: 0 2px !important;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 90px auto;
}

.nav-item .bi {
    font-size: 18px;
    transition: 0.3s;
}

.nav-item .bi:hover {
    color: #9e95f8;
}

.top h1 {
    font-size: 50px;
}

.text {
    font-size: 24px;
    margin-top: 25px;
}

.info {
    margin-top: 100px;
}

.info h3 {
    font-size: 40px;
}

.info-text {
    font-size: 20px;
    margin-top: 25px;
}

.btn-under-info {
    margin-top: 25px;
    width: 180px;
    height: 50px;
    border-radius: 0;
    font-weight: bolder;
}

.footer {
    background: rgb(31, 201, 176);
    background: linear-gradient(270deg, rgba(31, 201, 176, 1) 25%, rgba(104, 220, 151, 1) 75%);
    color: white;
    height: 300px;
}

.f-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

.f-content a {
    text-decoration: none;
}

.f-content a:active, a:visited{
    color: inherit
}

.f-content a:hover {
    text-decoration: underline;
}

.f-social-media .bi {
    font-size: 22px;
    margin: 0 5px;
    transition: 0.3s;
}

.f-social-media .bi:hover {
    color: #3c7e56;
}

.contact {
    text-align: center;
}

.contact a:first-of-type{
    font-weight: bolder;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.contact p{
    margin: 4px 0;
}